In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as mp

In [22]:
df = pd.read_csv("test_Scores.csv")
df

  name  math  cs
0    a    92  98
1    b    56  68
2    c    88  81
3    d    70  80
4    e    80  83
5    f    49  52
6    g    65  66
7    h    35  30
8    i    66  68
9    j    67  73

In [46]:
def gradient_descent(x,y):  #I have defined a function here.
    m_curr=b_curr=0
    iterations=1000000
    n=len(x)
    learning_rate=0.0002
    prev_cost=0
    
    for i in range (iterations):
        y_predicted=m_curr*x + b_curr
        cost = (1/n) * sum([val**2 for val in (y - y_predicted)])
        md= -(2/n)*sum(x*(y-y_predicted))  # derivative of cost with respect to m_curr
        bd= -(2/n)*sum(y-y_predicted)      # derivative of cost with respect to b_curr
        m_curr = m_curr- learning_rate*md
        b_curr = b_curr- learning_rate*bd
        
        #print("m={}, b={}, cost={}, iterations={}".format(m_curr,b_curr,cost,i))
        if mp.isclose(prev_cost, cost, rel_tol=1e-09, abs_tol=0.0):
           print(" m={}, b={},cost={},iteration={}".format(m_curr,b_curr,cost,i))
           break
        prev_cost = cost

In [47]:
p = df.math
q = df.cs
gradient_descent(p,q)

 m=1.0192813318173286, b=1.8057225128259167,cost=31.605199637165665,iteration=124311