In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [27]:
df = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [28]:
target = df.Survived
inputs = df.drop(['Survived'],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [29]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [30]:
dummies = pd.get_dummies(inputs.Sex,dtype=int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [31]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [32]:
inputs = inputs.drop(['Sex','male'],axis='columns')
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [34]:
inputs.columns[inputs.isna().any()]
#It will check that are there any Nan values in the dataframe.

Index(['Age'], dtype='object')

In [35]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

Now we split the dataset in training and testing.

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size=0.2)

In [40]:
len(X_train)

712

In [41]:
len(X_test)

179

In [42]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [43]:
model.score(X_test,y_test)

0.770949720670391

In [44]:
X_test[0:10]

     Pclass        Age     Fare  female
443       2  28.000000  13.0000       1
242       2  29.000000  10.5000       0
740       1  29.699118  30.0000       0
495       3  29.699118  14.4583       0
129       3  45.000000   6.9750       0
154       3  29.699118   7.3125       0
356       1  22.000000  55.0000       1
748       1  19.000000  53.1000       0
124       1  54.000000  77.2875       0
381       3   1.000000  15.7417       1

In [45]:
y_test[0:10]

443    1
242    0
740    1
495    0
129    0
154    0
356    1
748    0
124    0
381    1
Name: Survived, dtype: int64

In [46]:
model.predict(X_test[0:10])

array([1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [48]:
model.predict_proba(X_test[:10])
#It gives an array of containing probability of survival and not survival of a passenger.

array([[0.25895767, 0.74104233],
       [0.93176199, 0.06823801],
       [0.75956082, 0.24043918],
       [0.9691788 , 0.0308212 ],
       [0.96596494, 0.03403506],
       [0.96835408, 0.03164592],
       [0.03820758, 0.96179242],
       [0.60916316, 0.39083684],
       [0.31707638, 0.68292362],
       [0.26382395, 0.73617605]])

Calculation of score using cross validation.

In [51]:
ss=[]
from sklearn.model_selection import cross_val_score
ss.append(cross_val_score(GaussianNB(),X_train,y_train,cv=5))

In [52]:
ss

[array([0.79020979, 0.79020979, 0.73943662, 0.81690141, 0.74647887])]